# Dependencies
node_modules/
*/node_modules/
**/node_modules/

# Environment
.env
.env.*
!.env.example

# Build
/dist
/build
.next
out

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
.DS_Store
Thumbs.db